<form class="dsa5-merchants-taverns">
    <div style="display: grid; grid-template-columns: 250px auto 250px;">

        <!--GM SETTINGS-->
        <div>
            <h1>GM SETTINGS</h1>
            <button name="update-inventory">update Inventory</button>
            <label>
                Qualität
                <select name="quality">
                    {{#select qualityOption}}
                    {{#each qualityOptions}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            <button name="lock-innkeeper">lock Innkeeper</button>
            <button name="unlock-innkeeper">unlock Innkeeper</button>
            <button name="toggle-show-entry" data-entry-id="all" data-show="true">show everything</button>
            <button name="toggle-show-entry" data-entry-id="all" data-show="false">hide everything</button>


            {{#each roleTables as |category id|}}
            <div>
                <div>
                    <label>{{id}} Name:
                        <input name="category-name" value="{{category.name}}" data-category-id="{{id}}"/></label>
                </div>
                <div>
                    <label>Table {{table}}
                        <select name="category-rolltable" data-category-id="{{id}}">
                            {{#select table}}
                            <option>keine Waren</option>
                            {{#each ../rolltableOptions}}
                            <option value="{{packName}}:{{_id}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </label>
                </div>
                <div>
                    <h3>Anzahl</h3>
                    {{#each ../qualityOptions}}
                    <div>
                        <label>
                            {{name}}
                            <input name="category-roll"
                                   data-category-id="{{id}}"
                                   data-quality-key="{{key}}"
                                   value="{{lookup category.roll key}}"
                                   placeholder="Wurf"/>
                        </label>
                    </div>
                    {{/each}}
                </div>
                <button name="delete-category" data-category-id="{{id}}">delete</button>
            </div>
            <hr/>
            {{/each}}
            <button name="add-category">add</button>
        </div>


        <div style="padding: 0px 20px">
            <h1>Menükarte</h1>
            <div>
                <label>Name des Etablissements:
                    <input name="establishment"
                           value="{{establishment}}"
                    />
                </label>
            </div>


            <section class="categories">
                {{#each tradeOffer}}
                <h2>{{name}}</h2>
                {{#each index}}
                <div class="entry" style="display: grid; grid-template-columns: auto 100px 100px;">
                    <div>
                        {{#if show}}
                        <h3>{{name}}</h3>
                        <div>{{{description}}}</div>
                        {{else}}
                        <h3 style="background-color: lightgray"><a name="toggle-show-entry" data-entry-id="{{_id}}"
                                                                   data-show="true"> <i>Spielern
                            zeigen</i></a> {{name}}</h3>
                        {{/if}}
                    </div>
                    <div>{{{money price}}}</div>
                    <div>
                        <button name="take-order" data-entry-id="{{_id}}"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
                {{/each}}
                <!--index / item-->
                <hr/>
                {{/each}}
                <!--tradeOffer / category-->
            </section>

            <section class="bill">
                <h2>Aktuelle Bestellung <a name="clear-order">(zurücksetzen)</a></h2>
                {{#each currentOrder}}
                <p>{{name}}</p>
                {{/each}}
                <!--currentOrder-->
                <hr/>

                <h3><b>Zwischensumme: {{{money subTotal}}}</b></h3>

                <div style="width: 200px; align-content: center; float: right">
                    <button name="show-order"><i class="fas fa-eye"></i> Nur zeigen</button>
                    <button name="serve-order"><i class="fas fa-concierge-bell"></i> Servieren und auf Deckel</button>
                    <button name="charge-order"><i class="fas fa-file-signature"></i> Auf Deckel</button>
                    <button name="sell-order"><i class="fas fa-coins"></i> Jetzt verkaufen</button>
                </div>

            </section>

        </div>

        <div>
            <h1>Aktueller Deckel</h1>
            {{#if orderTotal}}
            {{#each bill}}
            <div>
                {{#each this}}
                <div style="display: grid; grid-template-columns: auto 100px;">
                    <p>{{name}}</p>
                    <p>{{{money price}}}</p>
                </div>
                {{/each}}
            </div>
            <hr/>
            {{/each}}
            <div style="display: grid; grid-template-columns: auto 100px;">
                <h3>insgesamt</h3>
                <p>{{{money orderTotal}}}</p>
            </div>
            <hr/>

            <button name="checkout" data-payment="zusammen"><i class="fas fa-coins"></i> zusammen berechnen</button>
            <div style="display: grid; grid-template-columns: auto auto">
                <select name="buyers">
                    {{#select buyersCount}}
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    {{/select}}
                </select>
                <button name="checkout" data-payment="dutch"><i class="fas fa-coins"></i> getrennt berechnen</button>
            </div>

            <button name="checkout" data-payment="per-round" disabled>Runden einzeln berechnen</button>
            <button name="clear-orders">Deckel weg werfen</button>

            {{/if}}
        </div>

</form>
