<form class="dsa5-merchants-taverns">
    <div style="display: grid; grid-template-columns: 250px auto;">
        <div>
            <h2>GM SETTINGS</h2>
            <button name="update-inventory">update Inventory</button>
            <label>
                Qualität
                <select name="quality">
                    {{#select qualityOption}}
                    {{#each qualityOptions}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            <button name="lock-innkeeper">lock Innkeeper</button>
            <button name="unlock-innkeeper">unlock Innkeeper</button>
            <button name="toggle-show-entry" data-entry-id="all" data-show="true">show everything</button>
            <button name="toggle-show-entry" data-entry-id="all" data-show="false">hide everything</button>


            {{#each roleTables as |category id|}}
            <div>
                <div>
                    <label>{{id}} Name:
                        <input name="category-name" value="{{category.name}}" data-category-id="{{id}}"/></label>
                </div>
                <div>
                    <label>Table {{table}}
                        <select name="category-rolltable" data-category-id="{{id}}">
                            {{#select table}}
                            <option>keine Waren</option>
                            {{#each ../rolltableOptions}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </label>
                </div>
                <div>
                    <h3>Anzahl</h3>
                    {{#each ../qualityOptions}}
                    <div>
                        <label>
                            {{name}}
                            <input name="category-roll"
                                   data-category-id="{{id}}"
                                   data-quality-key="{{key}}"
                                   value="{{lookup category.roll key}}"
                                   placeholder="Wurf"/>
                        </label>
                    </div>
                    {{/each}}
                </div>
                <button name="delete-category" data-category-id="{{id}}">delete</button>
            </div>
            <hr/>
            {{/each}}
            <button name="add-category">add</button>

        </div>
        <div>
            <h2>Menükarte</h2>
            <div>
                <label>Name des Etablissements:
                    <input name="establishment"
                           value="{{establishment}}"
                    />
                </label>
            </div>


            <section class="categories">
                {{#each tradeOffer}}
                <h3>{{name}}</h3>
                {{#each index}}
                <div class="entry" style="display: grid; grid-template-columns: auto 100px 100px;">
                    <div>
                        {{#if show}}
                        <button disabled style="background-color: green">{{name}}</button>
                        {{else}}
                        <button name="toggle-show-entry" data-entry-id="{{_id}}" data-show="true">{{name}} zeigen
                        </button>
                        {{/if}}
                    </div>
                    <div>{{{money price}}}</div>
                    <div>
                        <button name="take-order" data-entry-id="{{_id}}">bestellen</button>
                    </div>
                </div>
                {{/each}}
                <!--index / item-->
                <hr/>
                {{/each}}
                <!--tradeOffer / category-->
            </section>

            <section class="bill">
                {{#each currentOrder}}
                <p>{{name}}</p>
                {{/each}}
                <!--currentOrder-->
                <hr/>
                <h2>Zwischensumme: {{{money subTotal}}}</h2>

                <div style="display: grid; grid-template-columns: auto auto auto;">
                    <button name="show-order">Nur zeigen</button>
                    <button name="serve-order">Servieren und auf Deckel</button>
                    <button name="charge-order">Auf Deckel</button>
                    <button name="sell-order">Jetzt verkaufen</button> <!--show in Chat with link to item / request payment-->
                    <button name="clear-order">Zurücksetzen</button>
                </div>

                <hr/>
                <h2>Aktueller Deckel</h2>
                {{#each bill}}
                <div>
                    {{#each this}}
                    <div style="display: grid; grid-template-columns: auto 100px;">
                        <p>{{name}}</p>
                        <p>{{{money price}}}</p>
                    </div>
                    {{/each}}
                </div>
                <hr/>
                {{/each}}
                <h2>Macht insgesamt: {{{money orderTotal}}}</h2>
            </section>
            <hr/>

            <section class="bill">
                <div style="display: grid; grid-template-columns: 150px auto auto auto">
                    <h2>Geld einfordern</h2>
                    <button name="checkout" data-payment="zusammen">zusammen</button>
                    <button name="checkout" data-payment="dutch">getrennt</button>
                    <button name="checkout" data-payment="per-round" disabled>pro Runde</button>
                </div>
                <button name="clear-orders">Deckel weg werfen</button>
            </section>


        </div>
    </div>

</form>
