<form class="dsa5-merchants-taverns">
    <section class="categories">
        {{#each tradeOffer}}
        <h1>{{name}}</h1>
        {{#each index}}
        {{#if show}}
        <div class="entry">
            <div>{{name}}</div>
            <div>{{{money price}}}</div>
        </div>
        {{/if}}
        <!--show-->
        {{/each}}
        <!--index-->
        <hr/>
        {{/each}}
        <!--tradeOffer-->
    </section>

    {{#if finalTotalPrice}}
    <section class="bill">
        <h1>Rechnung</h1>
        {{#each finalBill}}
        <div>
            {{#each this}}
            <div style="display: grid; grid-template-columns: auto 100px;">
                <p>{{name}}</p>
                <p>{{{money price}}}</p>
            </div>
            {{/each}}
        </div>
        <hr/>
        {{/each}}
        <h2>Macht zusammen {{{money finalTotalPrice}}}</h2>
    </section>
    {{/if}}

</form>
